@page "/counter"
@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

<div class="container">
    <canvas id="canvas" width="500" height="500"></canvas>
    <div class="content">
        <button type="button" @onclick="SuccessEmotion">Clickme Success</button>
        <button type="button" @onclick="FailEmotion">Clickme Fail</button>
        <input type="number" @bind="@NumLookValue" @bind:event="oninput" />
        @NumLookValue
        <input type="checkbox" @bind="isChecking" @onclick="IsChecking" /> Checking
        @isChecking
        <input type="checkbox" @bind="isHandsUp" @onclick="HandsUp" /> Hands up
        @isHandsUp
    </div>
</div>


@code {
    IJSObjectReference? rivWrapper;
    public bool isHandsUp { get; set; }
    public bool isChecking { get; set; }
    private int numLookValue;
    public int NumLookValue
    {
        get
        {
            return numLookValue;
        }
        set
        {
            numLookValue = value;
            UpdateNumLookValue();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && rivWrapper is null)
        {
            rivWrapper = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Pages/Counter.razor.js");
            await rivWrapper.InvokeVoidAsync("createRive");
        }
    }

    public async Task SuccessEmotion()
    {
        await rivWrapper.InvokeVoidAsync("doSuccessEmotionJs");
    }

    public async Task FailEmotion()
    {
        await rivWrapper.InvokeVoidAsync("doFailEmotionJs");
    }

    public async Task HandsUp()
    {
        await rivWrapper.InvokeVoidAsync("doHandsUpJs", isHandsUp);
    }

    public async Task IsChecking()
    {
        await rivWrapper.InvokeVoidAsync("doCheckingJs", isChecking);
    }

    private async Task UpdateNumLookValue()
    {
        await rivWrapper.InvokeVoidAsync("doNumLookJs", NumLookValue);
    }

    public async ValueTask DisposeAsync()
    {
        if (rivWrapper != null)
        {
            await rivWrapper.DisposeAsync();
        }
    }
}
